<h3>Patient List Exercise</h3>
<details>
    <summary>Directions</summary>
    <p>
        Please spend no more than ~two hours on the following challenge.

        Given a list of patients (sample JSON file attached), display the following:
    </p>
    <ul>
        <li>Patient names and ages, sorted by age</li>
        <li>All patients with high blood pressure (systolic over 140 or diastolic over 90)</li>
        <li>Display all columns and allow the user to pick a column to sort by</li>
    </ul>
</details>

<patient-list></patient-list>